<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smona.btwriter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".BtWriterApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name="com.inuker.bluetooth.library.BluetoothService" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bluetoothspp2.BleSppSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bluetoothspp2.SPPOperationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ble.BleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forget.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchase.PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".brand.BrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".changepwd.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".make.MakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".model.ModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".address.AddressListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>